---
import Page from '../../layouts/Page.astro';
---

<Page title="Add Organization Request">
  <p>More information about submitting organization requests is coming soon.</p>
  <p>
    In the meantime, if you would like to have an organization added, please
    submit your information through our <a href="/contact/">contact page</a>.
  </p>
</Page>
