---
import Page from '../../layouts/Page.astro';
---

<Page title="Add Event Request">
  <p>To get your event added to the WCS MN calendar:</p>
  <ol>
    <li>Create a calendar event</li>
    <li>Invite minnesota.wcs@gmail.com to the event</li>
  </ol>
  <p>
    If you experience any issues, please reach out through our
    <a href="/contact/">contact page</a>.
  </p>
</Page>
