---
import Page from '../../layouts/Page.astro';
---

<Page title="Our Contributors">
  <p>
    This is a growing list of those who contributed to the development of this
    website. As individuals submit changes to the website, please also add
    information to this page.
  </p>
  <ul>
    <li>
      Kaiano Levine —
      <a href="https://github.com/kaianolevine">GitHub</a> ·
      <a href="https://www.kaianolevine.com/">Website</a>
    </li>
    <li>
      Joseph Carey —
      <a href="https://github.com/josephcarey">GitHub</a>
    </li>
    <li>Hieu Le</li>
  </ul>
</Page>
