---
import Page from '../../layouts/Page.astro';
---

<Page title="How To Contribute">
  <p>Here are the current ways you can contribute:</p>
  <ul>
    <li>
      <strong>Add an event:</strong> submit your information through our
      <a href="/contributions/add-event/">Add Event</a> page.
    </li>
    <li>
      <strong>Add an organization:</strong> start an organization request on our
      <a href="/contributions/add-organization/">Add Organization</a> page.
    </li>
    <li>
      <strong>Contribute directly to the website:</strong> open a pull request on
      <a href="https://github.com/kaianolevine/wcsmn.com">GitHub</a>.
    </li>
  </ul>
</Page>
