---
import Page from '../../layouts/Page.astro';
---

<Page title="Contributions" description="Ways to contribute to WCS Minnesota.">
  <p>This is a community-driven project. Here are the ways you can help:</p>
  <ul>
    <li><a href="/contributions/how-to-contribute/">How To Contribute</a></li>
    <li><a href="/contributions/add-event/">Add an Event</a></li>
    <li><a href="/contributions/add-organization/">Add an Organization</a></li>
    <li><a href="/contributions/contributors/">Our Contributors</a></li>
  </ul>
</Page>
