---
import Page from '../layouts/Page.astro';
---

<Page title="Community Resources">
  <p>
    Below is a list of public resources for the West Coast Swing community in
    Minnesota.
  </p>

  <hr />

  <h3>Resources</h3>
  <ul>
    <li>
      <strong>WCS Minnesota —</strong>
      <a href="https://www.facebook.com/groups/1454812424770009">Facebook Group</a>
    </li>
    <li>
      <strong>WCS Minnesota —</strong>
      <a href="https://discord.com/invite/z4dgmfM26f">Discord</a>
    </li>
    <li>
      <strong>Safety Reporting and Information —</strong>
      <a href="/organizations/mn-swing-safety/">MN Swing Safety</a>
    </li>
    <li>
      <strong>JT Swing Minnesota —</strong>
      <a href="https://www.facebook.com/JTSwingMPLS">JTSwingMPLS Facebook Group</a>
    </li>
  </ul>
</Page>
